<div class="nav">
  <ul>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="">Experience</a></li>
    <li><a routerLink="">Work</a></li>
    <li><a routerLink="">Contact</a></li>
  </ul>
</div>
<div class="main">
  <div class="container">
   <div class="intro">
    <h4>Hi, my name is</h4>
    <h1>Aman Kumar.</h1>
    <h2>Computer Science Student</h2>
    <p>Master of Computer Science with all computer's <br>Subjects from <a href="http://cdlu.ac.in" style="color:aqua;text-decoration:none;">Chaudhary Devi Lal University</a>.</p>
    <button mat-stroked-button>Get in Touch</button>
   </div>
  </div>
</div>