.nav{
    background: rgb(10, 25, 47);
    height: 70px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding-right: 120px;
    box-shadow: rgba(2, 12, 27, 0.9) 0px 2px 4px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transform: translateY(0px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
  
    position: sticky;
    z-index: 11;
}
.nav ul li {
    list-style-type: none;
    display: block;
    float: right;
   text-align: center;
   padding: 15px;
   
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    -webkit-transition: ease-in-out 0.5s;
  
}
.nav ul li a:hover{
    color: aqua;
}
.main{
    background: rgb(10, 25, 47);
    height: 700px;
}
.intro h4{
    color: aqua;
    padding-top: 100px;
    font-weight: 100;
    font-style: italic;
    font-family: "Courier New", Courier, monospace;
}
.intro h1{
    color: #fff;
    font-size: 80px;
    font-family: 'Aldrich';
    font-weight: 600;
}
.intro h2{
    color: rgb(136, 146, 176);
    font-size: 80px;
    font-weight: 600;
}
.intro p{
    color:  rgb(136, 146, 176);
    line-height: 29px;
    font-size: 20px;
    padding-top: 15px;
    font-family: 'Abel';
}
.intro button{
    color: aqua;
    border-color: aqua;
    margin-top: 45px;
    font-weight: 100;
    width: 200px;
    height: 50px;
}
.about{
    background: rgb(10, 25, 47);
    
    height: auto;
    padding-top: 100px;
}
.about p{
    color: rgb(136, 146, 176);
    font-family: 'Abel';
    line-height: 29px;
    font-size: 20px;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about h2::after{
    content: "";
    display: block;
    height: 1px;
    width: 220px;
    background-color: rgb(45, 57, 82);
    position: relative;
    top: -15px;
    margin-left: 150px;
}
.work{
    background: rgb(10, 25, 47);
    height: auto;
    padding-top: 100px;
 
}
.work h2::after{
    content: "";
    display: block;
    height: 1px;
    width: 220px;
    background-color: rgb(45, 57, 82);
    position: relative;
    top: -15px;
    margin-left: 240px;
}
.work ul li{
    color: rgb(136, 146, 176);
    font-family: 'Abel';
    line-height: 29px;
    font-size: 20px;
   
}
.work a{
    text-decoration: none;
}
.project , .skills{
    background-color: rgb(10, 25, 47);
    padding-top: 100px;
}
.project , .skills h2{
    color:#fff;
    font-weight: 100;
    line-height: 29px;
    font-family: 'Abel';
}
.project h2::after{
    content: "";
    display: block;
    height: 1px;
    width: 220px;
    background-color: rgb(45, 57, 82);
    position: relative;
    top: -15px;
    margin-left: 270px;
}
.ancher:hover{
    color:aqua;
}
.git a:hover{
    color:aqua !important;
}
.skills h2::after{
    content: "";
    display: block;
    height: 1px;
    width: 220px;
    background-color: rgb(45, 57, 82);
    position: relative;
    top: -15px;
    margin-left: 80px;
}
.skills ul li{
    color: rgb(136, 146, 176);
    font-family: 'Abel';
    line-height: 29px;
    font-size: 20px;
    -webkit-transition: ease-in-out 0.3s;
    
}
.skills ul li:hover{
    color: aqua;
    font-family: 'Abel';    
    font-size: 30px;
    }
.mix-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}
.mix-img img:hover{
    background-color: aqua !important;
    z-index: 1111 !important;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s !important;
    position: relative !important;
}
.last{
    background: rgb(10, 25, 47);
    height: 700px;
 
}
.last-data{
    padding-top: 150px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.last-data button{  
        color: aqua;
        border-color: aqua;
        margin-top: 45px;
        font-weight: 100;
        width: 200px;
        height: 50px;   
        font-family: "Courier New", Courier, monospace; 
        
}
@media (max-width:500px){
    .intro h1{
        font-size:35px;
    }
    .intro h2{
        font-size:34px;
    }
    .query img{
        width:300px;
        height:300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
