<div class="nav">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4 navi">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#skills">Skills</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div style="float:left;">
            <i class="navbar-toggler" id="list" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="fa fa-list" style="font-size:30px;padding-top: 25px;padding-left: 30px;"></i>
        </div>
        <div style="float:right;padding-right:30px;padding-top: 20px;color: aqua;"><button mat-stroked-button style="border-color:aqua;font-weight:100;" onclick="window.open('../../assets/images/Resume.pdf')">Request
      Resume</button></div>
    </nav>
</div>
<div class="main">
    <div class="container">
        <div class="intro">
            <h4>Hi, my name is</h4>
            <h1>Aman Kumar.</h1>
            <h2>Computer Science Student</h2>
            <p>Master of Computer Science with all computer's <br>Subjects from <a href="http://cdlu.ac.in" style="color:aqua;text-decoration:none;">Chaudhary Devi Lal University</a>.</p>
            <button mat-stroked-button onclick="location.href='#last'">Get in Touch</button>
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1457e6" fill-opacity="1" d="M0,96L21.8,90.7C43.6,85,87,75,131,80C174.5,85,218,107,262,96C305.5,85,349,43,393,48C436.4,53,480,107,524,128C567.3,149,611,139,655,122.7C698.2,107,742,85,785,106.7C829.1,128,873,192,916,202.7C960,213,1004,171,1047,149.3C1090.9,128,1135,128,1178,133.3C1221.8,139,1265,149,1309,160C1352.7,171,1396,181,1418,186.7L1440,192L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path></svg>
<div class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2 style="color:#0f23ca;font-weight: 100;">About Me</h2>
                <p>To work for an organization which provides me the opportunity to improve my skills and knowledge to growth along with the organization objective.</p>
                <ul>
                    <li>
                        <p>MCA from &nbsp;<a href="http://cdlu.ac.in" style="color:#0f23ca;text-decoration:none;">CDLU , Sirsa </a>. (2016-19)
                        </p>
                    </li>
                    <li>
                        <p>6th Month Training in Angular from &nbsp; <a href="https://www.slinfy.com" style="color:#0f23ca;text-decoration:none;">Solitaire Infosys Pvt. Ltd</a>.</p>
                    </li>
                    <li>
                        <p>BCA from &nbsp; <a href="www.gjust.ac.in" style="color:#0f23ca;text-decoration:none;">GJU S&T Hisar</a>. (2013-16)
                        </p>
                    </li>
                    <li>
                        <p>12th from CBSE.(2012-13)</p>
                    </li>
                    <li>
                        <p>10th from Board of School Education Haryana (2010-11).</p>
                    </li>
                </ul>

            </div>
            <div class="col-sm-12 col-md-6 logo">
                <img src="../../assets/images/5847ea22cef1014c0b5e4833.png" width="300px" height="300px" alt="">
            </div>
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0a192f" fill-opacity="1" d="M0,288L21.8,277.3C43.6,267,87,245,131,218.7C174.5,192,218,160,262,144C305.5,128,349,128,393,133.3C436.4,139,480,149,524,165.3C567.3,181,611,203,655,186.7C698.2,171,742,117,785,117.3C829.1,117,873,171,916,208C960,245,1004,267,1047,256C1090.9,245,1135,203,1178,170.7C1221.8,139,1265,117,1309,128C1352.7,139,1396,181,1418,202.7L1440,224L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"></path></svg>
<div class="work" id="work">
    <div class="container">
        <h2 style="color:#fff;font-weight: 100;line-height: 29px;font-family: 'Abel';">Where I've Training</h2>
        <h4 style="color:#fff;line-height: 29px;font-family: 'Abel';">Web Developer <a href="https://www.slinfy.com" style="color:aqua;line-height: 29px;"> &nbsp; @ Solitaire Infosys Pvt. Ltd.</a></h4>
        <p style="color:rgb(136, 146, 176);line-height: 29px;font-family: 'Abel';">Jan 2019 - May 2019</p>
        <ul>
            <li>Develops projects in Angular</li>
            <li>Working on Front End of Websites</li>
            <li>Good in CRUD & REST API call</li>
            <li>Routing</li>
        </ul>

    </div>
</div>
<div class="project" id="project">

    <div class="container">
        <h2>Some Things I've Built</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 git">
                <h6 style="color:aqua;padding-top:20px;font-weight: 100;">Featured Project</h6>
                <a class="ancher" href="https://aman-hotel-d2b81.firebaseapp.com" style="font-size:35px;color:#fff;font-weight:600;text-decoration:none;font-family: 'Concert One', cursive;">Hotel
        Management</a>
                <p style="color:rgb(136, 146, 176);line-height: 29px;font-family: 'Abel'; font-size: 18px;">Foundations of Programming. Basics of coding algorithms with <br> curated resources for programmers by Google.</p>
                <i class="fa fa-github" style="color:#fff;font-size: 25px;" aria-hidden="true"></i>&nbsp;&nbsp;
                <a href="https://github.com/bishnoia03/hotel-management.git" class="fa fa-external-link" style="color:#fff;font-size: 24px;text-decoration: none;" aria-hidden="true"></a>
            </div>
            <div class="col-sm-12 col-md-6 query">
                <img src="../../assets/images/quotes.PNG" class="img-fluid" alt="">

            </div>
        </div>
    </div>
</div>
<div class="skills" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Skills</h2>
                <h4 style="color:aqua;font-weight: 100;line-height: 29px;font-family: 'Abel';">Web Developer</h4>
                <p style="color:rgb(136, 146, 176);line-height: 29px;font-family: 'Abel';">Responsive all screens</p>
                <ul>
                    <li>HTML 5</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>Type Script</li>
                    <li>Angular Material</li>
                    <li>SCSS</li>
                    <li>Git</li>
                    <li>Angular</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mix-img">
                <img src="../../assets/images/me.jpg" width="300px" height="300px" alt="">
            </div>
        </div>
    </div>
</div>
<div class="last" id="last">
    <div class="container">
        <div class="last-data">
            <p style="color:aqua;  font-weight:100;font-style: italic;font-family:Courier New, Courier, monospace;font-size: 20px;">
                What's Next?</p>
            <h1 style=" color:#fff;font-size: 70px;font-weight: 600;">Get In Touch</h1>
            <h3 style="color: rgb(136, 146, 176);">Thank You</h3>
            <div> <button mat-stroked-button width="200px" height="80px" onclick="document.querySelector('#myModal').style.display='block'">Say Hello</button></div>
        </div>
    </div>
</div>


<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="document.querySelector('#myModal').style.display='none'">&times;</span>
        <div class="hello_header">
            <h5 style="text-align:center;">Say Hello</h5>
        </div>
        <form action="" class="form">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label> <input type="text" matInput>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mobile</mat-label> <input type="number" matInput>
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label> <textarea name="" id="" cols="10" rows="10" matInput></textarea>
            </mat-form-field>
            <button type="reset" mat-stroked-button (click)="mysnackBar()" onclick="document.querySelector('#myModal').style.display='none'">Send</button>
        </form>

    </div>

</div>

<div class="follow">
    <div class="close">
        <span class="sh">&times;</span>
    </div><br><br>
    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/aman.bishnoi.9803" style="color: blue"><i class="fa fa-facebook"></i>&nbsp; Facebook</a></li>
            <li><a href="https://www.instagram.com/a_kay.bishnoi?r=nametag" style="color: #f24800"><i class="fa fa-instagram"></i>&nbsp; Instagram</a></li>
            <li><a href="https://join.skype.com/invite/mvS3h74FCraM" style="color: #00aff0"><i class="fa fa-skype"></i>&nbsp; Skype</a></li>
            <li><a href="#" style="color: #1da1f2"><i class="fa fa-twitter"></i>&nbsp; Twitter</a></li>
            <li><a href="#" style="color: blue"><i class="fa fa-phone"></i>&nbsp; 8295716429</a></li>
        </ul>

    </div>


</div>
<button class="sh" id="btn" mat-stroked-button>Follow Me</button>