<div class="nav">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4 navi">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#skills">Skills</a></li>



      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div style="float:left;">
      <i class="navbar-toggler" id="list" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation" class="fa fa-list"
        style="font-size:30px;padding-top: 25px;padding-left: 30px;"></i>
    </div>
    <div style="float:right;padding-right:30px;padding-top: 20px;color: aqua;"><button mat-stroked-button
        style="border-color:aqua;font-weight:100;" onclick="window.open('../../assets/images/Resume.pdf')">Request
        Resume</button></div>
  </nav>
</div>
<div class="main">
  <div class="container">
    <div class="intro">
      <h4>Hi, my name is</h4>
      <h1>Aman Kumar.</h1>
      <h2>Computer Science Student</h2>
      <p>Master of Computer Science with all computer's <br>Subjects from <a href="http://cdlu.ac.in"
          style="color:aqua;text-decoration:none;">Chaudhary Devi Lal University</a>.</p>
      <button mat-stroked-button onclick="location.href='#last'">Get in Touch</button>
    </div>
  </div>
</div>
<div class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2 style="color:#fff;font-weight: 100;">About Me</h2>
        <p>To work for an organization which provides me the opportunity to improve my skills and knowledge to growth
          along with the organization objective.</p>
        <ul>
          <li>
            <p>MCA from &nbsp;<a href="http://cdlu.ac.in" style="color:aqua;text-decoration:none;">CDLU , Sirsa </a>.
              (2016-19)</p>
          </li>
          <li>
            <p>6th Month Training in Angular from &nbsp; <a href="https://www.slinfy.com"
                style="color:aqua;text-decoration:none;">Solitaire Infosys Pvt. Ltd</a>.</p>
          </li>
          <li>
            <p>BCA from &nbsp; <a href="www.gjust.ac.in" style="color:aqua;text-decoration:none;">GJU S&T Hisar</a>.
              (2013-16)</p>
          </li>
          <li>
            <p>12th from CBSE.(2012-13)</p>
          </li>
          <li>
            <p>10th from Board of School Education Haryana (2010-11).</p>
          </li>
        </ul>

      </div>
      <div class="col-sm-12 col-md-6 logo">
        <img src="../../assets/images/5847ea22cef1014c0b5e4833.png" width="300px" height="300px" alt="">
      </div>
    </div>
  </div>
</div>
<div class="work" id="work">
  <div class="container">

    <h2 style="color:#fff;font-weight: 100;line-height: 29px;font-family: 'Abel';">Where I've Training</h2>
    <h4 style="color:#fff;line-height: 29px;font-family: 'Abel';">Web Developer <a href="https://www.slinfy.com"
        style="color:aqua;line-height: 29px;"> &nbsp; @ Solitaire Infosys Pvt. Ltd.</a></h4>
    <p style="color:rgb(136, 146, 176);line-height: 29px;font-family: 'Abel';">Jan 2019 - May 2019</p>
    <ul>
      <li>Develops projects in Angular</li>
      <li>Working on Front End of Websites</li>
      <li>Good in CRUD & REST API call</li>
      <li>Routing</li>
    </ul>

  </div>
</div>
<div class="project" id="project">

  <div class="container">
    <h2>Some Things I've Built</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 git">
        <h6 style="color:aqua;padding-top:20px;font-weight: 100;">Featured Project</h6>
        <a class="ancher" href="https://aman-hotel-d2b81.firebaseapp.com"
          style="font-size:35px;color:#fff;font-weight:600;text-decoration:none;font-family: 'Concert One', cursive;">Hotel
          Management</a>
        <p style="color:rgb(136, 146, 176);line-height: 29px;font-family: 'Abel'; font-size: 18px;">Foundations of
          Programming. Basics of coding algorithms with <br> curated resources for programmers by Google.</p>
        <i class="fa fa-github" style="color:#fff;font-size: 25px;" aria-hidden="true"></i>&nbsp;&nbsp;
        <a href="https://github.com/bishnoia03/hotel-management.git" class="fa fa-external-link"
          style="color:#fff;font-size: 24px;text-decoration: none;" aria-hidden="true"></a>
      </div>
      <div class="col-sm-12 col-md-6 query">
        <img src="../../assets/images/quotes.PNG" class="img-fluid" alt="">

      </div>
    </div>
  </div>
</div>
<div class="skills" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Skills</h2>
        <h4 style="color:aqua;font-weight: 100;line-height: 29px;font-family: 'Abel';">Web Designing</h4>
        <p style="color:rgb(136, 146, 176);line-height: 29px;font-family: 'Abel';">Responsive all screens</p>
        <ul>
          <li>HTML 5</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Type Script</li>
          <li>Angular Material</li>
          <li>SCSS</li>
          <li>Git</li>
          <li>Angular</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 mix-img">
        <img src="../../assets/images/me.jpg" width="300px" height="300px" alt="">
      </div>
    </div>
  </div>
</div>
<div class="last" id="last">
  <div class="container">
    <div class="last-data">
      <p
        style="color:aqua;  font-weight:100;font-style: italic;font-family:Courier New, Courier, monospace;font-size: 20px;">
        What's Next?</p>
      <h1 style=" color:#fff;font-size: 70px;font-weight: 600;">Get In Touch</h1>
      <h3 style="color: rgb(136, 146, 176);">Thank You</h3>
      <div> <button mat-stroked-button width="200px" height="80px"
          onclick="document.querySelector('#myModal').style.display='block'">Say Hello</button></div>
    </div>
  </div>
</div>


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="document.querySelector('#myModal').style.display='none'">&times;</span>
    <div class="hello_header">
      <h5 style="text-align:center;">Say Hello</h5>
    </div>
    <form action="" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label> <input type="text" matInput >
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label> <input type="number" matInput>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label> <textarea name="" id="" cols="10" rows="10" matInput></textarea>
      </mat-form-field>
      <button mat-stroked-button (click)="send()">Send</button>
    </form>

  </div>

</div>

<div  class="follow">
<div class="close">
  <span class="sh">&times;</span>
</div>
 


  <div>

  </div>

</div>
<button class="sh" style="  transform: rotate(270deg);
height: auto;
margin: -31px;
position: fixed;
top: 30%;
color:#fff;" mat-stroked-button>Follow Me</button>